<div style="margin-bottom:110px;" class="page-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="image-frame defualt">
							<div class="cs-media">
								
								<figure> <img alt="" src="{% asset_path extra-images/image-frame.jpg %}"> </figure>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="cs-column-text"> <span style="font-size:14px;margin-bottom:15px;text-transform: capitalize !important; font-weight:bold;" class="cs-color">ADAPTIVE DRIVE HEAD uP DISPLAY</span>
							<h1 style=" line-height:43px !important;">Matte Black Chevy C7 Corvette 
								Stingray on Custom 21in Forgiato 
								Quinto Wheels.</h1>
							<p style="margin-bottom:25px; ">Arear view camera and lane departure warning. This car has 6 airbags fitted for your protection. It has front &amp; rear power windows, central locking and 2nd row split folding seats. Family life is made easy in this 2016 Jaguar XF. This car has Bluetooth connectivity, side curtain airbags, subwoofer, trailer sway control, sports pedals and heads up information display. This car has forward collision alert/warning. This car comes with enough seats for 5. You can relax.</p>
							<a style="color:#fff;font-size:11px; padding:12px 45px; font-weight:bold; text-transform:uppercase;" class="cs-button" href="#">Kim Broders</a> </div>
					</div>
				</div>
			</div>
		</div>