<div style=" padding-top:70px; padding-bottom:50px;" class="page-section">
			<div class="container">
				<div class="row">
					<div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row"> 
							<!--Element Section Start-->
							<div class="cs-blog cs-blog-grid">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="cs-element-title">
										<h2>WHAT'S TRENDING in Car World</h2>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="cs-blog-listing blog-grid">
										<div class="cs-media">
											<figure> <a href="#"><img alt="" src="  {% asset_path extra-images/blog-listing-1.jpg %}"></a>
												<figcaption>
													<div class="caption-text"><span>STICKY POST</span></div>
												</figcaption>
											</figure>
										</div>
										<div class="blog-text">
											<div class="post-option"> <span class="post-date">Vehicles</span> </div>
											<div class="post-title">
												<h4><a href="#">Avalon Hybrid Built for the endless weekend.</a></h4>
											</div>
											<p>Norwegian airline website named Widerøe generated a tremendous amount of buzz and a lot of very happy customers this weekend.</p>
											<div class="post-meta">
												
												<figure><img alt="" src="{% asset_path extra-images/blog-grid-1.jpg %}"></figure>
												<span class="post-by">Anselm Hannemann</span> <em>August 15, 2015</em> </div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="cs-blog-listing blog-grid">
										<div class="cs-media">
											
											<figure> <a href="#"><img alt="" src="{% asset_path extra-images/blog-listing-2.jpg %}"></a>
												<figcaption></figcaption>
											</figure>
										</div>
										<div class="blog-text">
											<div class="post-option"> <span class="post-date">Motors</span> </div>
											<div class="post-title">
												<h4><a href="#">Speed Dual-Clutch Featured Special New ReLease</a></h4>
											</div>
											<p>Website named Widerøe generated a tremendous amount of buzz and a lot of very happy customers this weekend when word got out that supposed.</p>
											<div class="post-meta">
												
												<figure><img alt="" src="{% asset_path extra-images/blog-grid-2.jpg %}"></figure>
												<span class="post-by">Arashasghari</span> <em>September 30, 2015</em> </div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="cs-blog-listing blog-grid">
										<div class="cs-media">
											<figure> <a href="#"><img alt="" src=" {% asset_path extra-images/blog-listing-3.jpg %}"></a>
												<figcaption></figcaption>
											</figure>
										</div>
										<div class="blog-text">
											<div class="post-option"> <span class="post-date">Cars and Races</span> </div>
											<div class="post-title">
												<h4><a href="#">Human laws, but we cannot resist natural ones</a></h4>
											</div>
											<p>Amount of buzz and a lot of very happy customers this weekend when word got out that supposed unintentional error in their reservation.</p>
											<div class="post-meta">
												<figure><img alt="" src="{% asset_path extra-images/blog-grid-3.jpg %}"></figure>
												<span class="post-by">Darrellwhitelaw</span> <em>October 9, 2015</em> </div>
										</div>
									</div>
								</div>
							</div>
							<div style="text-align:center;" class="cs-seprater"> <span> <i class="icon-transport177"> </i> </span> </div>
							<!--Element Section End--> 
						</div>
					</div>
				</div>
			</div>
		</div>