<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="cs-logo">
						<div class="cs-media">
							<!-- <figure><a href="index.html"><img alt="" src="assets/images/cs-logo.png"></a></figure> -->
							<figure><a href="index.html"><img alt="" src="{% asset_path cs-logo.png %}"></a></figure>
						</div>
					</div>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<div class="cs-main-nav pull-right"><div class="slicknav_menu"><a class="slicknav_btn slicknav_collapsed" tabindex="0" aria-haspopup="true" href="#"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" style="display: none;" aria-hidden="true" role="menu">
								<li><a href="index.html" role="menuitem" tabindex="-1">Home</a></li>
								<li><a href="about-us.html" role="menuitem" tabindex="-1">About Us</a></li>
								<li class="slicknav_collapsed slicknav_parent"><a class="slicknav_item slicknav_row" tabindex="-1" aria-haspopup="true" role="menuitem" href="#"><a href="#" tabindex="-1">Inventory</a>
									<span class="slicknav_arrow"><i class="icon-keyboard_arrow_right"></i></span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
										<li><a href="auto-grid.html" role="menuitem" tabindex="-1">Grid Style</a></li>
										<li><a href="auto-listing.html" role="menuitem" tabindex="-1">Classic Style</a></li>
										<li><a href="car-listing-detail.html" role="menuitem" tabindex="-1">Detail Page</a></li>
									</ul>
								</li>
								<li class="slicknav_collapsed slicknav_parent"><a class="slicknav_item slicknav_row" tabindex="-1" aria-haspopup="true" role="menuitem" href="#"><a href="#" tabindex="-1">Dealers</a>
									<span class="slicknav_arrow"><i class="icon-keyboard_arrow_right"></i></span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
										<li><a href="agent-listing.html" role="menuitem" tabindex="-1">List View</a></li>
										<li><a href="agent-detail.html" role="menuitem" tabindex="-1">Detail Page</a></li>
									</ul>
								</li>
								<li class="slicknav_collapsed slicknav_parent"><a class="slicknav_item slicknav_row" tabindex="-1" aria-haspopup="true" role="menuitem" href="#"><a href="#" tabindex="-1">Compare</a>
									<span class="slicknav_arrow"><i class="icon-keyboard_arrow_right"></i></span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
										<li><a href="compare.html" role="menuitem" tabindex="-1">Listing</a></li>
									</ul>
								</li>
								<li class="slicknav_collapsed slicknav_parent"><a class="slicknav_item slicknav_row" tabindex="-1" aria-haspopup="true" role="menuitem" href="#"><a href="#" tabindex="-1">pages</a>
									<span class="slicknav_arrow"><i class="icon-keyboard_arrow_right"></i></span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
										<li><a href="services.html" role="menuitem" tabindex="-1">Our Services</a></li>
										<li><a href="user-post-new-vehicles.html" role="menuitem" tabindex="-1">Post a Vehicle</a></li>
										<li><a href="price-plane.html" role="menuitem" tabindex="-1">Listing Packages</a></li>
										<li><a href="faq.html" role="menuitem" tabindex="-1">FAQ's &amp; Help</a></li>
										<li><a href="404.html" role="menuitem" tabindex="-1">404 Page</a></li>
										<li><a href="search-result.html" role="menuitem" tabindex="-1">Search Result</a></li>
										<li><a href="underconstruction.html" role="menuitem" tabindex="-1">Under Construction</a></li>
                                        <li><a href="underconstruction-2.html" role="menuitem" tabindex="-1">Under Construction 2</a></li>
										<li><a href="signin-page.html" role="menuitem" tabindex="-1">Signup/Sign in</a></li>
										<li><a href="contact-us.html" role="menuitem" tabindex="-1">Contact us</a></li>
										
									</ul>
								</li>
								<li class="slicknav_collapsed slicknav_parent"><a class="slicknav_item slicknav_row" tabindex="-1" aria-haspopup="true" role="menuitem" href="#"><a href="#" tabindex="-1">News</a>
									<span class="slicknav_arrow"><i class="icon-keyboard_arrow_right"></i></span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
										<li><a href="blog-listing-large.html" role="menuitem" tabindex="-1">Large View</a></li>
										<li><a href="blog-listing-medium.html" role="menuitem" tabindex="-1">Medium View</a></li>
										<li><a href="blog-listing-grid.html" role="menuitem" tabindex="-1">Grid View</a></li>
										<li class="menu-item-has-children slicknav_collapsed slicknav_parent"><a class="slicknav_item slicknav_row" tabindex="-1" aria-haspopup="true" role="menuitem" href="#"><a href="#" tabindex="-1">Detail View</a>
											<span class="slicknav_arrow"><i class="icon-keyboard_arrow_right"></i></span></a><ul role="menu" aria-hidden="true" class="slicknav_hidden" style="display: none;">
												<li><a href="blog-detail-sound.html" role="menuitem" tabindex="-1">With Audio</a></li>
												<li><a href="blog-detail-video.html" role="menuitem" tabindex="-1">With Video</a></li>
												<li><a href="blog-detail-sound.html" role="menuitem" tabindex="-1">With Soundcloud</a></li>
												<li><a href="blog-detail-slider.html" role="menuitem" tabindex="-1">With Slider</a></li>
												<li><a href="blog-detail-post.html" role="menuitem" tabindex="-1">Featured Image</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="slicknav_collapsed slicknav_parent"><a class="slicknav_item slicknav_row" tabindex="-1" aria-haspopup="true" role="menuitem" href="#"><a href="#" tabindex="-1">Shop</a>
									<span class="slicknav_arrow"><i class="icon-keyboard_arrow_right"></i></span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
										<li><a href="shop-listing.html" role="menuitem" tabindex="-1">Products</a></li>
										<li><a href="shop-detail.html" role="menuitem" tabindex="-1">Detail View</a></li>
										<li><a href="shop-cart.html" role="menuitem" tabindex="-1">Cart</a></li>
										<li><a href="shop-checkout.html" role="menuitem" tabindex="-1">Checkout</a></li>
									</ul>
								</li>
								<li class="cs-user-option">
									<div class="cs-login">
										<div class="cs-login-dropdown"> <a href="#" tabindex="-1"><i class="icon-user2"></i> Kaiser <i class="icon-chevron-down2"></i></a>
											<div class="cs-user-dropdown"> <strong>Post a new Ad</strong>
												<ul>
													<li><a href="user-genral-setting.html" role="menuitem" tabindex="-1">General Setting<span class="cs-bgcolor">3</span></a></li>
													<li><a href="user-car-listing.html" role="menuitem" tabindex="-1">My Posted Cars <span class="cs-bgcolor">23</span></a></li>
													<li><a href="user-post-new-vehicles.html" role="menuitem" tabindex="-1">Post New Car</a></li>
													<li><a href="user-car-shortlist.html" role="menuitem" tabindex="-1">Shortlisted</a></li>
													<li><a href="user-payments.html" role="menuitem" tabindex="-1">Payment</a></li>
													<li><a href="user-packages.html" role="menuitem" tabindex="-1">Packages</a></li>
												</ul>
												<a href="#" class="btn-sign-out" tabindex="-1">Logout</a> </div>
										</div>
										<a aria-hidden="true" data-target="#user-sign-up" href="remote.html" data-toggle="modal" class="cs-bgcolor btn-form" tabindex="-1"><i class="icon-plus"></i> Sell Car</a> 
										<!-- Modal -->
										<div role="dialog" tabindex="-1" class="modal fade">
											<div role="document" class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
													</div>
													<div class="modal-body">
														<h4>Create Account</h4>
														<div class="cs-login-form">
															<form>
																<div class="input-holder">
																	<label for="cs-username"> <strong>USERNAME</strong> <i class="icon-user-plus2"></i>
																		<input type="text" placeholder="Type desired username" class="">
																	</label>
																</div>
																<div class="input-holder">
																	<label for="cs-email"> <strong>Email</strong> <i class="icon-envelope"></i>
																		<input type="email" placeholder="Type desired username" class="">
																	</label>
																</div>
																<div class="input-holder">
																	<label for="cs-login-password"> <strong>Password</strong> <i class="icon-unlock40"></i>
																		<input type="password" placeholder="******">
																	</label>
																</div>
																<div class="input-holder">
																	<label for="cs-confirm-password"> <strong>confirm password</strong> <i class="icon-unlock40"></i>
																		<input type="password" placeholder="******">
																	</label>
																</div>
																<div class="input-holder">
																	<input type="submit" value="Create Account" class="cs-color csborder-color">
																</div>
															</form>
														</div>
													</div>
													<div class="modal-footer"> <a aria-hidden="true" href="javascript:;" data-toggle="modal" data-target="#user-sign-in" data-dismiss="modal" tabindex="-1">Already have account</a>
														<div class="cs-separator"><span>or</span></div>
														<div class="cs-user-social"> <em>Signin with your Social Networks</em>
															<ul>
																<li><a data-original-title="facebook" href="#" role="menuitem" tabindex="-1"><i class="icon-facebook-f"></i>facebook</a></li>
																<li><a data-original-title="twitter" href="#" role="menuitem" tabindex="-1"><i class="icon-twitter4"></i>twitter</a></li>
																<li><a data-original-title="google-plus" href="#" role="menuitem" tabindex="-1"><i class="icon-google4"></i>google</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div role="dialog" tabindex="-1" class="modal fade">
											<div role="document" class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
													</div>
													<div class="modal-body">
														<h4>User Sign in</h4>
														<div class="cs-login-form">
															<form>
																<div class="input-holder">
																	<label for="cs-username-1"> <strong>USERNAME</strong> <i class="icon-user-plus2"></i>
																		<input type="text" placeholder="Type desired username" class="">
																	</label>
																</div>
																<div class="input-holder">
																	<label for="cs-login-password-1"> <strong>Password</strong> <i class="icon-unlock40"></i>
																		<input type="password" placeholder="******">
																	</label>
																</div>
																<div class="input-holder"> <a aria-hidden="true" href="javascript:;" data-toggle="modal" data-target="#user-forgot-pass" data-dismiss="modal" class="btn-forgot-pass" tabindex="-1"><i class=" icon-question-circle"></i> Forgot password?</a> </div>
																<div class="input-holder">
																	<input type="submit" value="SIGN IN" class="cs-color csborder-color">
																</div>
															</form>
														</div>
													</div>
													<div class="modal-footer">
														<div class="cs-separator"><span>or</span></div>
														<div class="cs-user-social"> <em>Signin with your Social Networks</em>
															<ul>
																<li><a data-original-title="facebook" href="#" role="menuitem" tabindex="-1"><i class="icon-facebook-f"></i>facebook</a></li>
																<li><a data-original-title="twitter" href="#" role="menuitem" tabindex="-1"><i class="icon-twitter4"></i>twitter</a></li>
																<li><a data-original-title="google-plus" href="#" role="menuitem" tabindex="-1"><i class="icon-google4"></i>google</a></li>
															</ul>
														</div>
														<div class="cs-user-signup"> <i class="icon-user-plus2"></i> <strong>Not a Member yet? </strong> <a aria-hidden="true" href="javascript:;" data-toggle="modal" data-target="#user-sign-up" data-dismiss="modal" class="cs-color" tabindex="-1">Signup Now</a> </div>
													</div>
												</div>
											</div>
										</div>
										<div role="dialog" tabindex="-1" class="modal fade">
											<div role="document" class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
													</div>
													<div class="modal-body">
														<h4>Password Recovery</h4>
														<div class="cs-login-form">
															<form>
																<div class="input-holder">
																	<label for="cs-email-1"> <strong>Email</strong> <i class="icon-envelope"></i>
																		<input type="email" placeholder="Type desired username" class="">
																	</label>
																</div>
																<div class="input-holder">
																	<input type="submit" value="Send" class="cs-color csborder-color">
																</div>
															</form>
														</div>
													</div>
													<div class="modal-footer">
														<div class="cs-user-signup"> <i class="icon-user-plus2"></i> <strong>Not a Member yet? </strong> <a aria-hidden="true" class="cs-color" data-dismiss="modal" data-target="#user-sign-up" data-toggle="modal" href="javascript:;" tabindex="-1">Signup Now</a> </div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--<div class="cs-wish-list"><a href="#"><i class=" icon-heart4"></i><span>0</span></a>
                                        <div class="wish-list-dropdown">
                                            <strong>Post a new Ad</strong>
                                            <ul>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-1.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-2.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-3.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-1.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-2.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-3.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <a class="btn-view-all" href="#">View All</a>
                                        </div>
                                    </div>--> 
								</li>
							</ul></div>
						<nav class="main-navigation">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="about-us.html">About Us</a></li>
								<li><a href="#">Inventory</a>
									<ul>
										<li><a href="auto-grid.html">Grid Style</a></li>
										<li><a href="auto-listing.html">Classic Style</a></li>
										<li><a href="car-listing-detail.html">Detail Page</a></li>
									</ul>
								</li>
								<li><a href="#">Dealers</a>
									<ul>
										<li><a href="agent-listing.html">List View</a></li>
										<li><a href="agent-detail.html">Detail Page</a></li>
									</ul>
								</li>
								<li><a href="#">Compare</a>
									<ul>
										<li><a href="compare.html">Listing</a></li>
									</ul>
								</li>
								<li><a href="#">pages</a>
									<ul>
										<li><a href="services.html">Our Services</a></li>
										<li><a href="user-post-new-vehicles.html">Post a Vehicle</a></li>
										<li><a href="price-plane.html">Listing Packages</a></li>
										<li><a href="faq.html">FAQ's &amp; Help</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="search-result.html">Search Result</a></li>
										<li><a href="underconstruction.html">Under Construction</a></li>
                                        <li><a href="underconstruction-2.html">Under Construction 2</a></li>
										<li><a href="signin-page.html">Signup/Sign in</a></li>
										<li><a href="contact-us.html">Contact us</a></li>
										
									</ul>
								</li>
								<li><a href="#">News</a>
									<ul>
										<li><a href="blog-listing-large.html">Large View</a></li>
										<li><a href="blog-listing-medium.html">Medium View</a></li>
										<li><a href="blog-listing-grid.html">Grid View</a></li>
										<li class="menu-item-has-children"><a href="#">Detail View</a>
											<ul>
												<li><a href="blog-detail-sound.html">With Audio</a></li>
												<li><a href="blog-detail-video.html">With Video</a></li>
												<li><a href="blog-detail-sound.html">With Soundcloud</a></li>
												<li><a href="blog-detail-slider.html">With Slider</a></li>
												<li><a href="blog-detail-post.html">Featured Image</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#">Shop</a>
									<ul>
										<li><a href="shop-listing.html">Products</a></li>
										<li><a href="shop-detail.html">Detail View</a></li>
										<li><a href="shop-cart.html">Cart</a></li>
										<li><a href="shop-checkout.html">Checkout</a></li>
									</ul>
								</li>
								<li class="cs-user-option">
									<div class="cs-login">
										<div class="cs-login-dropdown"> <a href="#"><i class="icon-user2"></i> Kaiser <i class="icon-chevron-down2"></i></a>
											<div class="cs-user-dropdown"> <strong>Post a new Ad</strong>
												<ul>
													<li><a href="user-genral-setting.html">General Setting<span class="cs-bgcolor">3</span></a></li>
													<li><a href="user-car-listing.html">My Posted Cars <span class="cs-bgcolor">23</span></a></li>
													<li><a href="user-post-new-vehicles.html">Post New Car</a></li>
													<li><a href="user-car-shortlist.html">Shortlisted</a></li>
													<li><a href="user-payments.html">Payment</a></li>
													<li><a href="user-packages.html">Packages</a></li>
												</ul>
												<a href="#" class="btn-sign-out">Logout</a> </div>
										</div>
										<a aria-hidden="true" data-target="#user-sign-up" href="remote.html" data-toggle="modal" class="cs-bgcolor btn-form"><i class="icon-plus"></i> Sell Car</a> 
										<!-- Modal -->
										<div role="dialog" tabindex="-1" id="user-sign-up" class="modal fade">
											<div role="document" class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
													</div>
													<div class="modal-body">
														<h4>Create Account</h4>
														<div class="cs-login-form">
															<form>
																<div class="input-holder">
																	<label for="cs-username"> <strong>USERNAME</strong> <i class="icon-user-plus2"></i>
																		<input type="text" placeholder="Type desired username" id="cs-username" class="">
																	</label>
																</div>
																<div class="input-holder">
																	<label for="cs-email"> <strong>Email</strong> <i class="icon-envelope"></i>
																		<input type="email" placeholder="Type desired username" id="cs-email" class="">
																	</label>
																</div>
																<div class="input-holder">
																	<label for="cs-login-password"> <strong>Password</strong> <i class="icon-unlock40"></i>
																		<input type="password" placeholder="******" id="cs-login-password">
																	</label>
																</div>
																<div class="input-holder">
																	<label for="cs-confirm-password"> <strong>confirm password</strong> <i class="icon-unlock40"></i>
																		<input type="password" placeholder="******" id="cs-confirm-password">
																	</label>
																</div>
																<div class="input-holder">
																	<input type="submit" value="Create Account" class="cs-color csborder-color">
																</div>
															</form>
														</div>
													</div>
													<div class="modal-footer"> <a aria-hidden="true" href="javascript:;" data-toggle="modal" data-target="#user-sign-in" data-dismiss="modal">Already have account</a>
														<div class="cs-separator"><span>or</span></div>
														<div class="cs-user-social"> <em>Signin with your Social Networks</em>
															<ul>
																<li><a data-original-title="facebook" href="#"><i class="icon-facebook-f"></i>facebook</a></li>
																<li><a data-original-title="twitter" href="#"><i class="icon-twitter4"></i>twitter</a></li>
																<li><a data-original-title="google-plus" href="#"><i class="icon-google4"></i>google</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div role="dialog" tabindex="-1" id="user-sign-in" class="modal fade">
											<div role="document" class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
													</div>
													<div class="modal-body">
														<h4>User Sign in</h4>
														<div class="cs-login-form">
															<form>
																<div class="input-holder">
																	<label for="cs-username-1"> <strong>USERNAME</strong> <i class="icon-user-plus2"></i>
																		<input type="text" placeholder="Type desired username" id="cs-username-1" class="">
																	</label>
																</div>
																<div class="input-holder">
																	<label for="cs-login-password-1"> <strong>Password</strong> <i class="icon-unlock40"></i>
																		<input type="password" placeholder="******" id="cs-login-password-1">
																	</label>
																</div>
																<div class="input-holder"> <a aria-hidden="true" href="javascript:;" data-toggle="modal" data-target="#user-forgot-pass" data-dismiss="modal" class="btn-forgot-pass"><i class=" icon-question-circle"></i> Forgot password?</a> </div>
																<div class="input-holder">
																	<input type="submit" value="SIGN IN" class="cs-color csborder-color">
																</div>
															</form>
														</div>
													</div>
													<div class="modal-footer">
														<div class="cs-separator"><span>or</span></div>
														<div class="cs-user-social"> <em>Signin with your Social Networks</em>
															<ul>
																<li><a data-original-title="facebook" href="#"><i class="icon-facebook-f"></i>facebook</a></li>
																<li><a data-original-title="twitter" href="#"><i class="icon-twitter4"></i>twitter</a></li>
																<li><a data-original-title="google-plus" href="#"><i class="icon-google4"></i>google</a></li>
															</ul>
														</div>
														<div class="cs-user-signup"> <i class="icon-user-plus2"></i> <strong>Not a Member yet? </strong> <a aria-hidden="true" href="javascript:;" data-toggle="modal" data-target="#user-sign-up" data-dismiss="modal" class="cs-color">Signup Now</a> </div>
													</div>
												</div>
											</div>
										</div>
										<div role="dialog" tabindex="-1" id="user-forgot-pass" class="modal fade">
											<div role="document" class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
													</div>
													<div class="modal-body">
														<h4>Password Recovery</h4>
														<div class="cs-login-form">
															<form>
																<div class="input-holder">
																	<label for="cs-email-1"> <strong>Email</strong> <i class="icon-envelope"></i>
																		<input type="email" placeholder="Type desired username" id="cs-email-1" class="">
																	</label>
																</div>
																<div class="input-holder">
																	<input type="submit" value="Send" class="cs-color csborder-color">
																</div>
															</form>
														</div>
													</div>
													<div class="modal-footer">
														<div class="cs-user-signup"> <i class="icon-user-plus2"></i> <strong>Not a Member yet? </strong> <a aria-hidden="true" class="cs-color" data-dismiss="modal" data-target="#user-sign-up" data-toggle="modal" href="javascript:;">Signup Now</a> </div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--<div class="cs-wish-list"><a href="#"><i class=" icon-heart4"></i><span>0</span></a>
                                        <div class="wish-list-dropdown">
                                            <strong>Post a new Ad</strong>
                                            <ul>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-1.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-2.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-3.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-1.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-2.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="assets/extra-images/single-banner-img-3.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <a class="btn-view-all" href="#">View All</a>
                                        </div>
                                    </div>--> 
								</li>
							</ul>
						</nav>
                        <div class="cs-user-option hidden-lg visible-sm visible-xs">
							<div class="cs-login">
								<div class="cs-login-dropdown"> <a href="#"><i class="icon-user2"></i> Kaiser <i class="icon-chevron-down2"></i></a>
									<div class="cs-user-dropdown"> <strong>Post a new Ad</strong>
										<ul>
											<li><a href="user-genral-setting.html">General Setting<span class="cs-bgcolor">3</span></a></li>
											<li><a href="user-car-listing.html">My Posted Cars <span class="cs-bgcolor">23</span></a></li>
											<li><a href="user-post-new-vehicles.html">Post New Car</a></li>
											<li><a href="user-car-shortlist.html">Shortlisted</a></li>
											<li><a href="user-payments.html">Payment</a></li>
											<li><a href="user-packages.html">Packages</a></li>
										</ul>
										<a href="#" class="btn-sign-out">Logout</a> </div>
								</div>
								<a aria-hidden="true" data-target="#user-sign-up-sm" href="remote.html" data-toggle="modal" class="cs-bgcolor btn-form"><i class="icon-plus"></i> Sell Car</a> 
								<!-- Modal -->
								<div role="dialog" tabindex="-1" id="user-sign-up-sm" class="modal fade">
									<div role="document" class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
											</div>
											<div class="modal-body">
												<h4>Create Account</h4>
												<div class="cs-login-form">
													<form>
														<div class="input-holder">
															<label for="cs-username11"> <strong>USERNAME</strong> <i class="icon-user-plus2"></i>
																<input type="text" placeholder="Type desired username" id="cs-username11" class="">
															</label>
														</div>
														<div class="input-holder">
															<label for="cs-email11"> <strong>Email</strong> <i class="icon-envelope"></i>
																<input type="email" placeholder="Type desired username" id="cs-email11" class="">
															</label>
														</div>
														<div class="input-holder">
															<label for="cs-login-password11"> <strong>Password</strong> <i class="icon-unlock40"></i>
																<input type="password" placeholder="******" id="cs-login-password11">
															</label>
														</div>
														<div class="input-holder">
															<label for="cs-confirm-password11"> <strong>confirm password</strong> <i class="icon-unlock40"></i>
																<input type="password" placeholder="******" id="cs-confirm-password11">
															</label>
														</div>
														<div class="input-holder">
															<input type="submit" value="Create Account" class="cs-color csborder-color">
														</div>
													</form>
												</div>
											</div>
											<div class="modal-footer"> <a aria-hidden="true" href="javascript:;" data-toggle="modal" data-target="#user-sign-in-sm" data-dismiss="modal">Already have account</a>
												<div class="cs-separator"><span>or</span></div>
												<div class="cs-user-social"> <em>Signin with your Social Networks</em>
													<ul>
														<li><a data-original-title="facebook" href="#"><i class="icon-facebook-f"></i>facebook</a></li>
														<li><a data-original-title="twitter" href="#"><i class="icon-twitter4"></i>twitter</a></li>
														<li><a data-original-title="google-plus" href="#"><i class="icon-google4"></i>google</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div role="dialog" tabindex="-1" id="user-sign-in-sm" class="modal fade">
									<div role="document" class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
											</div>
											<div class="modal-body">
												<h4>User Sign in</h4>
												<div class="cs-login-form">
													<form>
														<div class="input-holder">
															<label for="cs-username-111"> <strong>USERNAME</strong> <i class="icon-user-plus2"></i>
																<input type="text" placeholder="Type desired username" id="cs-username-111" class="">
															</label>
														</div>
														<div class="input-holder">
															<label for="cs-login-password-111"> <strong>Password</strong> <i class="icon-unlock40"></i>
																<input type="password" placeholder="******" id="cs-login-password-111">
															</label>
														</div>
														<div class="input-holder"> <a aria-hidden="true" href="javascript:;" data-toggle="modal" data-target="#user-forgot-pass-sm" data-dismiss="modal" class="btn-forgot-pass"><i class=" icon-question-circle"></i> Forgot password?</a> </div>
														<div class="input-holder">
															<input type="submit" value="SIGN IN" class="cs-color csborder-color">
														</div>
													</form>
												</div>
											</div>
											<div class="modal-footer">
												<div class="cs-separator"><span>or</span></div>
												<div class="cs-user-social"> <em>Signin with your Social Networks</em>
													<ul>
														<li><a data-original-title="facebook" href="#"><i class="icon-facebook-f"></i>facebook</a></li>
														<li><a data-original-title="twitter" href="#"><i class="icon-twitter4"></i>twitter</a></li>
														<li><a data-original-title="google-plus" href="#"><i class="icon-google4"></i>google</a></li>
													</ul>
												</div>
												<div class="cs-user-signup"> <i class="icon-user-plus2"></i> <strong>Not a Member yet? </strong> <a aria-hidden="true" href="javascript:;" data-toggle="modal" data-target="#user-sign-up-sm" data-dismiss="modal" class="cs-color">Signup Now</a> </div>
											</div>
										</div>
									</div>
								</div>
								<div role="dialog" tabindex="-1" id="user-forgot-pass-sm" class="modal fade">
									<div role="document" class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
											</div>
											<div class="modal-body">
												<h4>Password Recovery</h4>
												<div class="cs-login-form">
													<form>
														<div class="input-holder">
															<label for="cs-email-111"> <strong>Email</strong> <i class="icon-envelope"></i>
																<input type="email" placeholder="Type desired username" id="cs-email-111" class="">
															</label>
														</div>
														<div class="input-holder">
															<input type="submit" value="Send" class="cs-color csborder-color">
														</div>
													</form>
												</div>
											</div>
											<div class="modal-footer">
												<div class="cs-user-signup"> <i class="icon-user-plus2"></i> <strong>Not a Member yet? </strong> <a aria-hidden="true" class="cs-color" data-dismiss="modal" data-target="#user-sign-up-sm" data-toggle="modal" href="javascript:;">Signup Now</a> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--<div class="cs-wish-list"><a href="#"><i class=" icon-heart4"></i><span>0</span></a>
                            <div class="wish-list-dropdown">
                                <strong>Post a new Ad</strong>
                                <ul>
                                    <li class="alert alert-dismissible  fade in" role="alert">

                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="assets/extra-images/single-banner-img-1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="assets/extra-images/single-banner-img-2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="assets/extra-images/single-banner-img-3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="assets/extra-images/single-banner-img-1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="assets/extra-images/single-banner-img-2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="assets/extra-images/single-banner-img-3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                </ul>
                                <a class="btn-view-all" href="#">View All</a>
                            </div>
                        </div>--> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>